.nav {
//   background-color: rgba(255, 255, 255, 0.95);

//   @supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
//     background-color: rgba(255, 255, 255, 0.85);
//     -webkit-backdrop-filter: blur(10px);
//     backdrop-filter: blur(10px);
//   }
    background-color: #ffffff;
}