// @media (prefers-color-scheme: light) {

:root {
    // Backgrounds
  --color-bg: #BDDDFC;
  --color-bg-dark: #2b3743;
  --color-surface: #ffffff;


    // Text
  --color-text: #384959;
  --color-text-muted: #6A89A7;

    // Brand
  --color-primary: #88BDF2;

    // Borders
  --color-border: #6A89A7;

    // CTA colors
  --color-accent: #22c55e;
}
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     /* Backgrounds */
//     --color-bg: #121212;
//     --color-surface: #1E1E1E;

//     /* Text */
//     --color-text: #E4E4E4;
//     --color-text-muted: #A3A3A3;

//     /* Brand */
//     --color-primary: #3A82F6;

//     /* Borders */
//     --color-border: #3A3A3A;

//     /* CTA colors */
//     --color-accent: #22c55e;
//   }
// }